<li>
    <a href="#" class=""><img src="http://placehold.it/200x200" class=""></a>
    <h4 class=""><%= product.name%></h4>
    <div class="product-price">
        <span class="normal-price"> Price: <%= product.price %>$</span>
    </div>
    <button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
</li>