<div class="row">
    <h2>Product list</h2>
    <div class="col-sm-8 col-md-9">
        <ul class="thumbnail-list">
            <% @products.each do |product| %>
                <%= erb :product_item, locals: {product: product}%>
            <% end %>
        </ul>
    </div>
    <div class="text-center">
        <%= will_paginate @products %>
    </div>
</div>